.sidebar-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #4b4453;
}

.sidebar-head--section {
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.sidebar-btns--section {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
