.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  background-color: #e3dfe7;
}
.sidebar-container {
  width: 15%;
  height: 100%;
}

.publications-container {
  width: 70%;
  height: 95%;
}
.friendslist-container {
  width: 15%;
  height: 95%;
  overflow: scroll;
  overflow-x: hidden;
}
