.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 12px;
  background-image: url("../../images/messages-bg.png");
  background-size: cover;
  background-position: center center;
  overflow-y: hidden;
  overflow-x: hidden;
}

.form-container {
  width: 80%;
  height: 35%;
  box-shadow: 0 0 10px rgba(0, 0.5, 0, 0.5);
  margin-top: 2%;
  background-color: whitesmoke;
  padding: 1%;
}
.messages-container {
  width: 80%;
  height: 60%;
  margin: 3%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.messages-list-container {
  width: 35%;
  height: 90%;
  box-shadow: 0 0 10px rgba(0, 0.5, 0, 0.5);
  background-color: whitesmoke;
  overflow: scroll;
  overflow-x: hidden;
}

.messages-description-container {
  width: 50%;
  height: 90%;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0.5, 0, 0.5);
  background-color: whitesmoke;
}
.button-container {
  position: fixed;
  top: 20px;
  left: 20px;
}

.back-button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5); /* Przezroczyste czarne tło */
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: white; /* Kolor tekstu */
}
